<div class="mode-swapper">
  <div class="mode-fight" data-target="fight"></div>
  <div class="mode-create" data-target="create"></div>
</div>

<div class="bottom-right-controls">
  <div class="fight">
    <button class="btn-ui btn-first action-attack"></button>
    <button class="btn-ui btn-second action-defend"></button>
  </div>
  
  <div class="create">
    <button class="btn-ui btn-first action-create"></button>
    <button class="btn-ui btn-second action-change"></button>
  </div>
</div>