<h2>Select a Tile</h2>

<div class="container">
  <div class="items-list">
    <% _.each( inventory, function( item, tileId ) { %>
      <div class="item <%= tileId == currentItem ? 'active' : '' %>" data-target="<%= tileId %>">
        <div class="item-bg tile-<%= tileId %>">x<%= item.q %></div>
        <div class="item-name"><%= tileId %></div>
      </div>
    <% } ) %>
  </div>

  <div class="item-info">
    <% if ( currentItem ) { %>
      <h3>Name: <%= tilesData[ currentItem ].textId %></h3>
      <h4>Type: <%= tilesData[ currentItem ].type %></h4>
      <h4>Compatible with: <%= tilesData[ currentItem ].compatibleTilesTypes %></h4>
    <% } %>
  </div>
</div>

<div class="lower-buttons">
  <button class="action okBtn">Close</button>
</div>